body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}
nav{
    position: fixed;
}
li a{
    margin-left: 100px;
}
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media (min-width: 600px) {
    main {
      flex-wrap: nowrap;
    }
  }
.welcome{
    color: rgb(221, 23, 23);
    font-weight: 500;
    margin-left: 100px;
    padding-top: 90px;
}
.home{
    background-image: linear-gradient(lightblue, lightyellow);
    margin-top: -10px;
    height: 110vh;
}
img{
    height: 500px;
}
.btn{
    margin-left: 100px;
}
.social{
    margin-left: 100px;
    size: 50px;
    margin-top: -300px;
    color: black;
}
.myhome{
    padding-top: 90px;
    margin-left: 110px;
}
.shop{
    background-image: linear-gradient(lightblue, lightyellow);
    margin-top: -40px;
}
h6{
    font-weight: 400;
}
footer{
    background-color: black;
    height: 40vh;
    color: white;
    margin-top: -20px;
}

.ba{
    height: 30px;
    margin-top: 40px;
    margin-left: 30px;
}
.contact{
    margin-top: 40px;
}
.card1 {
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-top: 100px;
    margin-left: 100px;
  }
  .card1:hover{
      transform: scale(1.1);
      transition: all 1s;
  }
  .card1 h1{
      font-size: 30px;
      margin-left: -140px;
      margin-top: -6px;
  }
  .price {
    color: black;
    font-size: 22px;
    margin-top: -20px;
    margin-left: -240px;
  }
  .last{
      margin-bottom: 90px;
  }
  #categories{
      background-color: pink;
  }
  .card1 button {
    border: 1px solid brown;
    outline: 0;
    padding: 12px;
    color: brown;
    background-color: pink;
    text-align: center;
    cursor: pointer;
    width: 40%;
    font-size: 18px;
    padding-top: -500px;
  }
  
  .card1 button:hover {
    opacity: 0.7;
    transform: scale(1);
  } 


/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 5px;
}

.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #444;
  color: white;
}

.fa {font-size:50px;}
